
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #1f2937;
    align-items: center;
    height: 7%;
}

.footer {
    color: white;
    justify-content: center;
}
.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.section1,
.section2,
.section3,
.section4 {
    min-height: 21.5%;
}

.section1 {
    background-color: #1f2937;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.s1text,
.placeholder {
    width: 500px;
    height: 300px;
}

.s1text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-top: 0;

}

.s1text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: auto;
}

.s1text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100%;

}
.placeholder {
    background-color: rgb(101, 104, 101);
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    color: white;
}

.s1text button {
    color: white;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    font-weight: bold;
    cursor: pointer;
}

.information {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    padding: 20px 0;
}

.s2container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-bottom: 20px;
    padding: 40px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #3882f6;
}

.info {
    max-width: 100px;
    text-align-last: center ;
}


.section3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}


.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-size: 20px;
    font-weight: bolder;
    margin-left: auto;
}

.section4 {
    height: 300px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s4container {
    background-color:#3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    width: 50%;
    min-height: 40px;
    align-items: center;
    border-radius: 10px;
}

.call {
    font-weight: 900;
    font-size: 30px;
}

.section4 button {
    color: white;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    background-color: #3882f6;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
}